<div class="row form-holder">
  <div class="alert alert-info" ng-bind="ctrl.message" ng-show="ctrl.message"></div>
  <form name="todoForm" ng-submit="ctrl.addTodo()">
    <div class="form-group">
      <input type="text" placeholder="Author" ng-model="ctrl.todo.author" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Title" ng-model="ctrl.todo.title" class="form-control" required>
    </div>
    <div class="form-group">
      <textarea placeholder="Add Description" ng-model="ctrl.todo.description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <input type="date" placeholder="Due On" ng-model="ctrl.todo.dueOn" class="form-control" required="">
    </div>
    <div class="form-group pull-right">
      <input id="btn-save" type="submit" class="btn btn-success" value="Submit" ng-disabled="todoForm.$invalid">
    </div>
  </form>
</div>
